<!-- Make InstantSearch put widgets in the DOM -->
<script>
  // --- Prep InstantSearch ---
  const searchClient = algoliasearch(
    "{{ site_env.algolia_app_id }}",
    "{{ site_env.algolia_api_key }}"
  );
  const indexName = "{{ site_env.algolia_index_name }}";
  const search = instantsearch({
    indexName,
    searchClient,
  });

  // --- Add all widgets ---
  search.addWidgets([
    // --- Define the "searchbar" as using the "searchBox" widget
    instantsearch.widgets.searchBox({
      container: "#search-searchbar",
      placeholder: "Search this site...",
      autofocus: false,
    }),
    instantsearch.widgets.poweredBy({
      container: "#search-poweredby", // This is required if you're on the free Community plan
    }),
    instantsearch.widgets.hits({
      container: "#search-hits",
      escapeHTML: false,
    }),
  ]);

  // --- Throw InstantSearch into the DOM ---
  search.start();
</script>