---
layout: "layouts/standard_header_footer.liquid"
permalink: "/search02/index.html"
tags: ["pages"]
---

<h1 class="pb-4 text-3xl font-bold leading-none tracking-tight text-gray-900">I am the formatted, query-parameter-enabled search page (#02)</h1>

<!--<div class="w-10 bg-red-500">x</div>-->
<div id="search-searchbar" class=""></div>
<div id="search-poweredby" class=""></div>
<div id="search-hits" class=""></div>

{% include 'components/search_approach_02/initial_imports.html' %}
{% include 'components/search_approach_02/widgets_script.html' %}