---
layout: "layouts/standard_header_footer.liquid"
permalink: "/index.html"
tags: ["pages"]
---

<h1 class="pb-4 text-3xl font-bold leading-none tracking-tight text-gray-900">I am the home page</h1>

<form class="form-inline ml-auto d-none d-sm-block" action="/search02/" role="search" id="search" _lpchecked="1">
  <input class="form-control mr-sm-2 bg-white border border-gray-300 rounded shadow-sm" type="text" placeholder="Search approach #2" aria-label="Search" name="query">
  <input type="submit">
</form>