<script>
  /* JSON keys available in the top level of results returned from the "Best Buy" sample index:
      name, description, categories, hierarchichalCategories, type, price, price_range, image, url, 
      free_shipping, popularity, objectId, _snippetResult, _highlightResult, __position, __queryID, __hitIndex
  */
  const hitTemplate = function (hit, bindEvent) {
    let url = `{{ site.baseurl }}${hit.url}`;

    const name = hit._highlightResult.title ? hit._highlightResult.title.value : hit._highlightResult.name.value;

    const result_content = hit._highlightResult.html ? hit._highlightResult.html.value : hit._highlightResult.description.value;

    return `
            <div class="post-item">
              <h2 class="text-lg font-bold leading-none tracking-tight text-gray-900"><a class="post-link" href="${url}" ${bindEvent('click', hit, 'Search Result Clicked')}>${name}</a></h2>
              <div class="post-snippet">${result_content}</div>
            </div>
          `;
  };
</script>